@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Alexandria:wght@100..900&family=Comfortaa:wght@300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oxanium:wght@214&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {

}

body {
    background-color: #1E1E1E;
    color: white;
    font-family: "Albert Sans";
    font-weight: 600;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.oxanium-logo {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.albert-sans-second {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.raleway-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
    color: white;
}

#last-update {
    font-size: 20px;
    background-color: crimson;
    padding-block: 4px;
    padding-inline: 10px;
    border-radius: 15px;
}

.logo-container {
    align-items: center;
    gap: 20px;
    font-size:3cap;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10cap;
    position: sticky;
    top: 0px;
    background-color: #1E1E1E;
    padding-inline: 3cap;
    z-index: 6;
    box-shadow: #171717 20px 0px 2px;
}

header > nav :hover {
    color: #F8B014;
}



.logo-container{
    display: flex;
}

.logo-container > img {
    height: 4rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    padding-inline: 10cap;
}

.content {
    display: flex;
    justify-content: space-between;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 400px;
    justify-self: center;
}

.carousel {
    position: relative;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}


.button-container {
    width: 9cap;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -20px;
    align-self: flex-end;
    right: 7cap;
}

.main-nav {
    display: flex;
    gap: 2cap;
}

.text-about {
    width: 50%;
    align-self:flex-end;
    justify-self:center;
    z-index: 1;
    margin-left: auto;
    margin-bottom: 3cap;
    text-shadow: black 0px 0px 4px;
}

.pb {
    width: 2.8cap;
    height: 2.8cap;
    border-radius: 50%;
    border-color: transparent;
    background-color: #F8B014;    
    z-index: 2;
}

.pb:hover {
    background-color: #ffdd34;
}

footer {
    display: grid;
    background-color: #171717;
    justify-content: space-between;
    height: 150px;
    padding: 2cap;
}

footer > nav {
    display: flex;
    flex-direction: column;
    grid-column: 1;
      grid-row: 1;
      justify-self: start;
}

.year {
    grid-column: 2;
  grid-row: 2;
  justify-self: end;
    height: 20px;
}

.soc-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 150px;
    gap: 10px;
    height: 50px;
    grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.soc-links img {
    width: 30px;
    height: 30px;
    object-fit: contain;

}

footer > nav > a {
    text-decoration: none;
    font-size: small;
    border: none;
}

footer > nav {
    gap: 0.5cap;
}
